<ion-header>
  <ion-toolbar>
    <ion-title>Mon Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Déconnexion</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user?.pseudo }}</ion-card-title>
      <ion-card-subtitle>{{ user?.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Statut : <strong>{{ user?.status }}</strong><br>
      Créé le : {{ user?.createAt | date:'shortDate' }}
    </ion-card-content>
  </ion-card>
</ion-content>
