<ion-header>
	<ion-toolbar>
		<ion-title>Carte des Lieux</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ng-container *ngIf="isLoading">
		<ion-spinner name="crescent" class="ion-padding"></ion-spinner>
	</ng-container>
	<ng-container *ngIf="!isLoading">
		<ng-container *ngIf="!isMobile">
			<google-map [center]="center" [zoom]="zoom" height="100%" width="100%" (mapClick)="handleMapClick($event)">
				<map-marker *ngFor="let marker of markers" [position]="{lat: marker.latitude ?? 0, lng: marker.longitude ?? 0}" [title]="marker.name" (mapClick)="onMarkerClick(marker)"></map-marker>
			</google-map>
		</ng-container>
		<ng-container *ngIf="isMobile">
			<capacitor-google-map [center]="center" [zoom]="zoom" height="100%" width="100%" (mapClick)="handleMapClick($event)">
				<map-marker *ngFor="let marker of markers" [position]="{lat: marker.latitude ?? 0, lng: marker.longitude ?? 0}" [title]="marker.name" (mapClick)="onMarkerClick(marker)"></map-marker>
			</capacitor-google-map>
		</ng-container>
	</ng-container>
</ion-content>