<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="email.invalid && email.touched">
        Email invalide
      </ion-note>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="password.invalid && password.touched">
        Mot de passe requis
      </ion-note>
    </ion-list>

    <div class="ion-margin-top">
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">
        Se connecter
      </ion-button>
    </div>
  </form>

  <ion-text color="danger" *ngIf="error">
    <p class="ion-padding-top">{{ error }}</p>
  </ion-text>

  <ion-toast
    *ngIf="showToast"
    [message]="toastMsg"
    duration="3000"
    (didDismiss)="showToast = false">
  </ion-toast>
</ion-content>
