<ion-header>
  <ion-toolbar>
    <ion-title>Liste des Lieux</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filterPlaces()"
      placeholder="Rechercher un lieu">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredPlaces && filteredPlaces.length > 0; else empty">
    <ion-item *ngFor="let place of filteredPlaces">
      <ion-label>
        <h2>{{ place.name }}</h2>
        <p>{{ place.type }} • {{ place.adresse }}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="viewPlace(place)">
        Afficher
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <ion-text color="medium">
      <p class="ion-padding">Aucun lieu disponible.</p>
    </ion-text>
  </ng-template>
</ion-content>
